@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header{
  width: 60%;
  display: flex;
  justify-content: space-around;
  float: right;
  font-size: 20px;
  padding: 3rem;
}
nav a{
  text-decoration: none;
  color: rgba(5, 0, 17, 0.747);
  padding: 1rem;
}
.avatar {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
main{
  width: 85%;
  clear: both;
  margin: auto;
}
hr{
  margin-bottom: 3rem;
}
.pay p{
  color: hsl(0, 4%, 68%);
  font-size: 20px;
}
#card{
  width: 100%;
}
#card img{
  width: 100px;
  padding-right: 2rem;
}
.card{
  width: 400px;
  height: 300px;
  background-image: linear-gradient(60deg,rgb(236, 102, 102),rgb(88, 88, 224));
  border: none;
  border-radius: 10px;
}
.card img{
  background-blend-mode: normal;
}

@media (max-width:1000px) {
  header{
    width: 100%;
    font-size: 16px;
  }
  
  .card{
    width: 350px;
    height: 300px;
  }
}